.social {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 35px;

  &__descr {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 22px;
    margin-right: 40px;
  }

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  &__link {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}